/* Themify Customize Styling */
h1 {	
	font-family:Open Sans;	font-weight:300;
	font-size:80px;
 
}
#headerwrap {	
	background-color: #3d3d3d; 
}
#header {	
	font-family:Open Sans;	font-weight:300;
	font-size:50px;
	line-height:40px;
 
}
#headerwrap.fixed-header {	
	background-color: rgba(61,61,61,0.60); 
}
.fixed-header #header, .fixed-header #site-description {	
	font-family:Open Sans;	font-weight:300;
	font-size:50px;
	line-height:40px;
 
}
#site-logo, #site-logo a,#footer-logo, #footer-logo a, .header-horizontal #site-logo, .header-minbar #site-logo, .header-leftpane #site-logo, .header-slide-out #site-logo, .boxed-compact #site-logo, .header-top-bar #site-logo {	
	font-family:Open Sans;	font-weight:300;
	font-size:26px;
 
}
#site-logo, #site-logo a,#footer-logo, #footer-logo a, .header-horizontal #site-logo, .header-minbar #site-logo, .header-leftpane #site-logo, .header-slide-out #site-logo, .boxed-compact #site-logo, .header-top-bar #site-logo img {		width: 150px;
	height: 50px; 
}
#site-logo, #site-logo a,#footer-logo, #footer-logo a, .header-horizontal #site-logo, .header-minbar #site-logo, .header-leftpane #site-logo, .header-slide-out #site-logo, .boxed-compact #site-logo, .header-top-bar #site-logo a {		width: 150px; 
}
#site-logo {		position:relative;
 
}
#main-nav {		position:relative;
 
}
#main-nav a {	
	font-family:Open Sans;	font-weight:300;
	font-size:16px;
 
}
#main-nav a, #main-nav > li > a {	
	color: #ffffff; 
}
#main-nav a:hover, #main-nav > li > a:hover {	
	color: #e6e6e6; 
}
#main-nav .current_page_item a, #main-nav .current-menu-item a, #main-nav > .current_page_item > a, #main-nav > .current-menu-item > a {	
	color: #ffffff; 
}
#main-nav .current_page_item a:hover,  #main-nav .current-menu-item a:hover {	
	color: #e6e6e6; 
}
#footerwrap {	
	background-color: #2b2b2b; 
}
#footer {	
	color: #ffffff; 
}
#footer a {	
	color: #ffffff; 
}
@media screen and (max-width: 1024px) { /* Themify Customize Styling */
#site-logo, #site-logo a,#footer-logo, #footer-logo a, .header-horizontal #site-logo, .header-minbar #site-logo, .header-leftpane #site-logo, .header-slide-out #site-logo, .boxed-compact #site-logo, .header-top-bar #site-logo img {		width: 150px;
	height: 50px; 
}
#site-logo, #site-logo a,#footer-logo, #footer-logo a, .header-horizontal #site-logo, .header-minbar #site-logo, .header-leftpane #site-logo, .header-slide-out #site-logo, .boxed-compact #site-logo, .header-top-bar #site-logo a {		width: 150px; 
}
 }@media screen and (max-width: 768px) { /* Themify Customize Styling */
#site-logo, #site-logo a,#footer-logo, #footer-logo a, .header-horizontal #site-logo, .header-minbar #site-logo, .header-leftpane #site-logo, .header-slide-out #site-logo, .boxed-compact #site-logo, .header-top-bar #site-logo img {		width: 150px;
	height: 50px; 
}
#site-logo, #site-logo a,#footer-logo, #footer-logo a, .header-horizontal #site-logo, .header-minbar #site-logo, .header-leftpane #site-logo, .header-slide-out #site-logo, .boxed-compact #site-logo, .header-top-bar #site-logo a {		width: 150px; 
}
 }@media screen and (max-width: 480px) { /* Themify Customize Styling */
#site-logo, #site-logo a,#footer-logo, #footer-logo a, .header-horizontal #site-logo, .header-minbar #site-logo, .header-leftpane #site-logo, .header-slide-out #site-logo, .boxed-compact #site-logo, .header-top-bar #site-logo img {		width: 150px;
	height: 50px; 
}
#site-logo, #site-logo a,#footer-logo, #footer-logo a, .header-horizontal #site-logo, .header-minbar #site-logo, .header-leftpane #site-logo, .header-slide-out #site-logo, .boxed-compact #site-logo, .header-top-bar #site-logo a {		width: 150px; 
}
 }